/* TODO Add site wide styles */
body {
  margin: 0;
  /* background-color: #0b0c10; */
  color: #66fcf1;
  font-family: "Roboto";
  background: url('./images/seancenewnew.gif') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;

}

button {
  cursor: pointer;
}

.p-error {
  color: red;
  margin: 0;
}