/* TODO Add site wide styles */
body {
  margin: 0;
  /* background-color: #0b0c10; */
  color: #66fcf1;
  font-family: "Roboto";
  background-image: url(./images/seancenewnew.gif);
  background-position: center;
  background-size: 1150px;

}

button {
  cursor: pointer;
}

.p-error {
  color: red;
  margin: 0;
}